.form-giftregistry-share,
.form-giftregistry-edit {
    @extend %abs-add-fields !optional;
    .actions-toolbar:not(:last-child) {
        margin-bottom: $indent__xl;
    }
    .fieldset {
        .nested {
            .field:not(.choice) {
                .control {
                    width: 100%;
                }
            }
        }
    }
}

.form.giftregistry.items {
    .actions-toolbar {
        @extend %abs-reset-left-margin !optional;
    }
}

.giftregisty-dropdown {
    @extend %abs-dropdown-simple !optional;
}

.table-giftregistry-items {
    .field.qty .qty {
        @extend %abs-input-qty !optional;
    }

    .product-image {
        float: left;
        @include lib-css(margin-right, $indent__s);
    }
}

.form.giftregistry .fieldset {
    .cart-summary & {
        margin: 25px 0 $indent__xs;

        .field {
            margin: 0 0 $indent__s;

            .control {
                float: none;
                width: auto;
            }
        }

        .action.primary {
            @extend %abs-revert-secondary-color !optional;
            @extend %abs-revert-secondary-size !optional;
            margin-bottom: 0;
        }
    }
}

.form-giftregistry-search {
    margin-bottom: $indent__l * 2;

    .fields-specific-options {
        .field {
            &:nth-last-of-type(1) {
                margin-bottom: 0;
            }
        }

        .datetime-picker {
            @extend %abs-field-date-input !optional;
        }
    }
}

.block-giftregistry-results {
    .block-title {
        @extend %abs-block-title !optional;
    }

    .toolbar-giftregistry-results {
        text-align: center;
    }
}

.block-giftregistry {
    .actions-toolbar {
        margin: 17px 0 0;
    }
}

.block-giftregistry-shared {
    .item-options {
        .item-value {
            margin: 0 0 $indent__m;
        }
    }
}

.block-giftregistry-shared-items {
    .block-title {
        @extend %abs-block-title !optional;
    }

    .product-image-wrapper {
        @extend %abs-reset-image-wrapper !optional;
    }

    .item {
        border-bottom: $border-width__base solid $border-color__base;
    }

    .qty {
        .qty {
            @extend %abs-input-qty !optional;
        }
    }

    .col {
        padding: $indent__base 8px $indent__s;

        .price-box {
            display: inline-block;
        }

        .price-wrapper {
            @include lib-font-size(18);
            display: block;
            font-weight: $font-weight__bold;
            white-space: nowrap;
        }
    }

    .product {
        .item-options {
            @extend %abs-product-options-list !optional;
            @extend %abs-add-clearfix !optional;
            margin-bottom: 0;
        }

        &-item-photo {
            display: block;
            max-width: 65px;
            padding: $indent__s 0;
        }

        &-item-name {
            display: block;
            margin: 0 0 $indent__xs;
        }
    }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__s) {
    .table-giftregistry-items {
        .col.product {
            &:before {
                @extend %abs-visually-hidden-mobile !optional;
            }
            @extend %abs-add-clearfix-mobile !optional;
        }

        .field.choice,
        .field.qty {
            display: inline-block;
        }
    }

    .form-giftregistry-search {
        .fieldset {
            margin-bottom: 15px;
        }
    }

    .toolbar-giftregistry-results {
        @extend %abs-pager-toolbar-mobile-s !optional;
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .form-giftregistry-share,
    .form-giftregistry-edit {
        @extend %abs-add-fields-desktop !optional;
    }

    .form-giftregistry-search {
        .fieldset {
            margin-bottom: $form-field__vertical-indent__desktop;
            > .fields-specific-options {
                > .field {
                    @include lib-form-field-type-revert();
                }
            }
        }
    }

    .toolbar-giftregistry-results {
        @extend %abs-pager-toolbar !optional;
    }

    .block-giftregistry-shared {
        .item-options {
            @extend %abs-product-options-list-desktop !optional;
            @extend %abs-add-clearfix-desktop !optional;
        }
    }

    .block-giftregistry-shared-items {
        .column.main & {
            .actions-toolbar {
                @extend %abs-reset-left-margin-desktop !optional;
            }
        }

        .product {
            &-item-photo {
                display: table-cell;
                max-width: 100%;
                padding: 0 $indent__base 0 0;
                vertical-align: top;
                width: 1%;
            }

            &-item-details {
                display: table-cell;
                vertical-align: top;
                width: 99%;
                word-break: normal;
            }
        }

        .col {
            &.product {
                width: 48%;
            }

            &:not(.product) {
                text-align: center;
            }

            &.price {
                padding-top: 17px;
            }
        }

        .input-text {
            &.qty {
                margin-top: -4px;
            }
        }
    }
}
