.minilist {
    .weee {
        display: table-row;
        font-size: 11px;

        &:before {
            display: none;
        }
    }
}

.price-container.weee {
    &:before {
        display: none;
    }
}
