// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------

.actions-toolbar {
    & > .primary,
    & > .secondary {
        text-align: center;
        .action {
            // TO DO - The selector ".abs-button-responsive" was not found.
            // @extend .abs-button-responsive !optional;
            margin-bottom: $indent__s;

            &:last-child {
                margin-bottom: 0;
            }

            &.primary {
                //@extend .abs-button-l;
                // it was commented by default
            }
        }

        margin-bottom: $indent__s;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & > .secondary {
        .action.back {
            display: none;
        }
    }
}

//
//    Desktop
//--------------------------------------
@include min-screen($screen__m) {
    .actions-toolbar {
        @include lib-actions-toolbar();
        & > .primary,
        & > .secondary {
            margin-bottom: 0;

            .action {
                width: auto;
                margin-bottom: 0;
            }
        }
    }
}
