// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Common
//  _____________________________________________
.table-wrapper {
    margin-bottom: $indent__base;
}

table {
    @include lib-table-caption();
}

.table {
    tfoot {
        background: $sidebar__background-color;

        & > tr {
            &:first-child {
                th,
                td {
                    border-top: $table__border-width $table__border-style $table__border-color;
                    padding-top: $indent__base;
                }
            }
        }

        th,
        td {
            border: 0;
        }

        .mark {
            font-weight: $font-weight__regular;
            text-align: right;
        }
    }
}
//
//    Mobile
//  _____________________________________________
@include max-screen($screen__s) {
    .table-wrapper {
        border-top: $table__border-width $table__border-style $table__border-color;
        @include lib-table-overflow();
        position: relative; // To hide unnecessary horizontal scrollbar in Safari

        .table:not(.totals):not(.cart):not(.table-comparison) {
            @include lib-table-responsive();

            tbody {
                > tr {
                    > td:first-child {
                        padding-top: 15px;
                    }

                    > td:last-child {
                        border-bottom: $table__border-width $table__border-style $table__border-color;
                        padding-bottom: 15px;
                    }

                    > td.col.qty {
                        text-align: left;
                    }
                }
            }

            &.additional-attributes {
                tbody {
                    th {
                        @extend .abs-no-display-s;
                    }

                    td {
                        &:last-child {
                            border: none;
                            padding: 0 0 $indent__xs;
                        }
                    }
                }
            }
        }

        .table:not(.totals):not(.table-comparison) {
            tfoot {
                display: block;

                tr {
                    @extend .abs-add-clearfix-mobile;
                    display: block;

                    &:first-child {
                        th,
                        td {
                            padding-top: $indent__base;
                        }
                    }
                }

                .mark {
                    box-sizing: border-box;
                    float: left;
                    text-align: left;
                    width: 70%;
                }

                .amount {
                    box-sizing: border-box;
                    float: left;
                    text-align: right;
                    width: 30%;
                }

                .grand.totals {
                    font-size: 16px;

                    .amount {
                        padding-bottom: $indent__s;
                    }
                }
            }
        }
    }

    .data-table-definition-list {
        thead {
            display: none;
        }

        tbody th {
            padding-bottom: 0;
        }

        tbody th,
        tbody td {
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________
@include min-screen($screen__s) {
    .table {
        @include lib-table-bordered( $_table_type: horizontal_body );
    }
}
