$desktop-popup-width        : 380px !default;
$desktop-popup-margin-left  : -(($desktop-popup-width + ($popup__padding * 2)) / 2) !default;
$desktop-popup-position-left: 50% !default;
$desktop-popup-position-top : 20% !default;
