.cos {
  border-radius: false;
  margin: 0 0 10px;
  padding: 10px 20px;
  display: block;
  color: false;
  font-family: false;
  font-style: false;
  font-weight: false;
  line-height: 1.2;
  font-size: 13px;
  border: false false;
  background: #fdf0d5;
  border-color: false;
  color: #6f4400; }
  .cos a {
    color: #1979c3; }
    .cos a:hover {
      color: #006bb4; }
    .cos a:active {
      color: #006bb4; }
