// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//    Common
//--------------------------------------
.form.send.friend {
    @extend .abs-add-fields;
}

.action.mailto.friend {
    @include lib-icon-font(
        $_icon-font-content       : $icon-envelope,
        $_icon-font-size          : 28px,
        $_icon-font-line-height   : 28px,
        $_icon-font-vertical-align: top
    );

    span {
        line-height: 28px;
        vertical-align: top;
        display: inline-block;
    }
}
//
//    Desktop
//--------------------------------------
@include min-screen($screen__m) {
    .form.send.friend {
        @extend .abs-add-fields-desktop;
        // TO DO - The selector ".abs-form-field-column-2" was not found.
        // @extend .abs-form-field-column-2 !optional;
        width: 60%;

        .fieldset {
            .field {
                width: 45%;
            }

            .field.text {
                width: 90%;
            }
        }
    }
}
