//
//  Variables
//  _____________________________________________

$autocomplete__background-color : $color-white !default;
$autocomplete__border           : 1px solid $form-element-input__border-color !default;
$autocomplete-item__border      : 1px solid $color-gray90 !default;
$autocomplete-item__hover__color: $color-gray91 !default;
$autocomplete-item-amount__color: $color-gray60 !default;
