/* line 2, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

/* line 7, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
body {
  margin: 0;
}

/* line 10, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 24, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/* line 30, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 34, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
progress {
  vertical-align: baseline;
}

/* line 37, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
[hidden],
template {
  display: none;
}

/* line 41, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
a {
  background-color: transparent;
}

/* line 44, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* line 48, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 53, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
b,
strong {
  font-weight: inherit;
}

/* line 57, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
b,
strong {
  font-weight: bolder;
}

/* line 61, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
dfn {
  font-style: italic;
}

/* line 64, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 68, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/* line 72, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
small {
  font-size: 80%;
}

/* line 75, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 82, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
sub {
  bottom: -0.25em;
}

/* line 85, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
sup {
  top: -0.5em;
}

/* line 88, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
img {
  border-style: none;
}

/* line 91, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 94, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 101, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
figure {
  margin: 1em 40px;
}

/* line 104, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 109, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
button,
input,
select,
textarea {
  font: inherit;
}

/* line 115, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
optgroup {
  font-weight: bold;
}

/* line 118, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
button,
input,
select {
  overflow: visible;
}

/* line 123, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
button,
input,
select,
textarea {
  margin: 0;
}

/* line 129, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
button,
select {
  text-transform: none;
}

/* line 133, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
[type="button"],
[type="reset"],
[type="submit"],
button {
  cursor: pointer;
}

/* line 139, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
[disabled] {
  cursor: default;
}

/* line 142, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

/* line 148, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 153, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* line 157, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 162, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/* line 170, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
textarea {
  overflow: auto;
}

/* line 173, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 178, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 182, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
[type="search"] {
  -webkit-appearance: field;
     -moz-appearance: field;
          appearance: field;
}

/* line 185, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/vendor/normalize/_lib.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

/* line 10, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
.page-print .logo {
  float: none;
  display: block;
  text-align: left;
}

@media print {
  /* line 18, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
  }
  /* line 27, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  a,
  a:visited {
    text-decoration: underline !important;
  }
  /* line 33, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /* line 39, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  thead {
    display: table-header-group;
  }
  /* line 43, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .table-wrapper table {
    width: 100%;
    table-layout: fixed;
  }
  /* line 46, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .table-wrapper table td {
    width: auto;
  }
  /* line 52, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .table-wrapper table > tfoot > tr:first-child {
    border-top: 1px solid #999;
  }
  /* line 57, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .box,
  tr,
  img {
    page-break-inside: avoid;
  }
  /* line 63, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 1cm;
  }
  /* line 71, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .block-content,
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  /* line 79, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .block-content {
    page-break-before: avoid;
  }
  /* line 83, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .block-title,
  h2,
  h3 {
    page-break-after: avoid;
  }
  /* line 89, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .nav-toggle {
    display: none !important;
  }
  /* line 93, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .sidebar,
  .nav-sections,
  .header.content > *[class],
  .panel.wrapper > *[class],
  .footer.content > *[class] {
    display: none;
  }
  /* line 101, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .logo,
  .footer .copyright {
    display: block !important;
    margin: 10px 0;
  }
  /* line 110, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .order-details-items .order-items .order-gift-message:not(.expanded-content) {
    visibility: visible;
    height: auto;
  }
  /* line 118, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .column.main {
    width: 100% !important;
    float: none !important;
  }
  /* line 123, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .breadcrumbs {
    margin: 0 auto;
    text-align: right;
  }
  /* line 128, /Users/igloczek/Sites/magento2/vendor/snowdog/theme-blank-sass/styles/print.scss */
  .footer.content {
    padding: 0;
  }
}
