//
//  Variables
//  _____________________________________________

$gift-message-field-label__color: $color-gray40 !default;
$gift-item-block__border-color  : $color-gray-light5 !default;
$gift-item-block__border-width  : $border-width__base !default;
