$grid-cols: 12 !default;
$grid-gutter: 60px !default;

@mixin flex-col($counter: 1, $grid-cols: 1, $gutter: $grid-gutter){
    box-sizing: border-box;
    flex: 1;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
    flex-basis: percentage($counter/$grid-cols);
    max-width: percentage($counter/$grid-cols);
}

@mixin flex-col-offset($counter: 1, $grid-cols: 1){
    $width: ($counter / $grid-cols ) * 100;

    margin-left: #{"${width}%"};
}

@mixin flex-row($fluid: true){
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    @if ($fluid == false) {
        margin-right: $grid-gutter;
        margin-left: $grid-gutter;
    }
    @if ($fluid == true) {
        margin-right: -$layout__width-xs-indent;
        margin-left: -$layout__width-xs-indent;
        @media (min-width: $screen__m) {
            margin-right: -$layout-indent__width;
            margin-left: -$layout-indent__width;
        }
    }
}
