.block-banners,
.block-banners-inline {
    @extend %abs-margin-for-blocks-and-widgets !optional;

    .banner-items {
        @extend %abs-reset-list !optional;
    }

    .banner-item {
        display: block;
    }

    .banner-item-content {
        @include lib-css(margin-bottom, $indent__base);

        img {
            display: block;
            margin: 0 auto;
        }
    }
}
